@mstglobal:registry=https://mstglobal.jfrog.io/artifactory/api/npm/npm-nebula-local/
//mstglobal.jfrog.io/artifactory/api/npm/npm-nebula-local/:_password=QVA5aThScGlHUlFhTHhIS01UcEVxTmdXNmpB
//mstglobal.jfrog.io/artifactory/api/npm/npm-nebula-local/:username=d.prisyazhniy
//mstglobal.jfrog.io/artifactory/api/npm/npm-nebula-local/:email=dprisyazhniy@entinco.com
//mstglobal.jfrog.io/artifactory/api/npm/npm-nebula-local/:always-auth=true
//registry.npmjs.org/:_authToken=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
